.album-lists {
  max-width: 1560px;
  width: 100%;
  margin: auto;
}

.album-lists .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);;
  gap: 15px; 
}

.album-lists .flex {
  display: flex;
  flex-wrap: wrap; 
  gap: 15px; 
  margin: auto;
  justify-content: center;
}

.album.card {
  flex: 1 0 24%; 
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;
  flex-grow: 0.2;
}

.album img {
  max-width: 300px;
  width: 100%;
  border-radius: 5px;
  height: 100%;
}

.album .text-box {
  width: 100%;
  height: 100%;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card h4 , .card p {
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.album h5 {
  margin: 20px 0;
}

.album-card {
  perspective: 1000px;
  height: 100%;
}

.album-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  height: 100%;
}

.card:hover .album-card-inner {
  transform: rotateY(180deg);
}

.album-card-front,
.album-card-back {
  place-items: center;
  backface-visibility: hidden;
}

.album-card-front {
  background-color: black;
}

.album-card-back {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 800px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  transform: rotateY(180deg);
}

.album-card:hover .album-card-front{
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  }

.custom-select {
  position: relative;
  max-width: 180px;
  width: 100%;
  margin-left: auto;
  margin-bottom: 20px;
  transition: 0.25s;
}
  
.custom-select select {
  appearance: none;
  width: 100%;
  font-size: 1.15rem;
  padding: 10px 15px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  cursor: pointer;
}

select:focus-visible {
  outline: none;
}

.custom-select:hover {
  max-width: 200px;
  width: 100%;
}

select {
  appearance: none;
  background-image: url("../assets/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

.loading-box {
  width: 100%;
  height: 200px;
  text-align: center;
}

.loading-box button {
  max-width: fit-content;
}

.loading-box h2,
.loading-box button 
{
  margin: 40px;
}

@media (min-width: 500px) {
  .album-lists .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .flip-card-back {
    padding: 5px 10px;
  }
}

@media (min-width: 800px) {
  .album-lists .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .album-lists .grid {
    grid-template-columns: repeat(5, 1fr);
  }
}