.hero-banner {
  margin-top: 70px;
  height: 450px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-banner .text-box {

    padding: 50px 0;
}


body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: black;
  color: white ;
  font-family: "Inter", "DM Sans", Arial, sans-serif;
}

.content {
  text-align: center;
}

.title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  letter-spacing: -2px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 20px;
}


@media (min-width: 800px) {
  .title {
    font-size: 90px;
    line-height: 110px;
  }
}
