
.container {
  max-width: 800px;
  width: 100%;
  margin: 50px auto;
  position: relative;
  margin-top: 50px;
}

.container-lg {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  position: relative;
}

.container-xlg {
  max-width: 1500px;
  width: 100%;
  margin: auto;
  position: relative;
}

.dashboard-body {
  margin: auto;
  padding: 0 15px;
  min-height: 500px;
  height: 100%;
  width: 100%;
}

.search-page .text-box {
  text-align: center;
  margin: 50px;
}

.favorite-page h1 {
  text-align: center;
  margin: 50px;
}
