
.container {
  max-width: 800px;
  width: 100%;
  margin: auto;
  position: relative;
}

.lg {
  max-width: 1200px;
  width: 100%;
}

.xlg {
  max-width: 1500px;
  width: 100%;
}

.dashboard-body {
  margin: auto;
  padding: 0 15px;
  min-height: 500px;
  height: 100%;
  width: 100%;
}

.search-page {
  margin: 100px auto 40px;

}

.search-page .text-box {
  text-align: center;
  margin: 50px;
}

.favorite-page h1 {
  text-align: center;
  margin: 50px;
}

.error {
  text-align: center;
}

@media (min-width: 700px) {
  .search-page  {
      margin-top: 63px;
  }
}